@define-color urgent #B05A5A;
@define-color black #000000;

@import '../../../.cache/wallust/waybar-colors.css';

/* font declared */
* {
    font-family: "Maple Mono";
    font-weight: bold;
}

#custom-openbracket,
#custom-closebracket{
    margin: 0 5px ;
    font-size: 15px;
}

window#waybar {
    border-bottom: 0;
    color: @cursor;
    background-color: transparent;
    transition: background-color 0.5s;
}
window#waybar.hidden {
    opacity: 0.2;
}
window#waybar.empty #window {
    background-color: transparent;
}


/* configuring the modules */
.modules-left {
    margin: 0 0 0 5px;
    padding: 0 0 0 7px;
    background-color: @background;
    border-radius: 0px;
}
.modules-center {
    margin: 0 0 0 0;
    background-color: @background;
    padding: 0 10px 0 10px;
    border-radius: 0px;
    font-size: 15px;
}
.modules-right {
    margin: 0 5px 0 0;
    background-color: @background;
    padding: 0 10px 0 10px;
    border-radius: 0px;
}

/* menu pannel */
#custom-arch,
#custom-powerprofile {
    padding-right: 10px;
    padding-left: 5px;
    font-size: 20px;
    border-radius: 0px;
}
#custom-arch:hover {
    color: @color1;
}
#custom-powerprofile:hover{
    color: @color1
}

/* workspace pannel */
#workspaces button {
    padding: 0px 0px 0px 0px;
    background-color: transparent;
    color: @foreground;
    border-radius: 0;
    font-size: 20px;
}
#workspaces button:hover {
    color: @color1;
    font-size: 20px;
    background-color: transparent;
}
#workspaces button.active {
    color: @color1;
    background-color: @background;
    font-size: 20px;
}
#workspaces button.focused {
    color: @color1;
    background-color: @background;
    font-size: 20px;
}
#workspaces button.urgent {
    background-color: @urgent;
    font-size: 20px;
}

/* media player */
#mpris {
    margin: 0 0 0 5px;
    padding: 0 9px ;
    background-color: @background;
    color: @cursor;
}
#mpris.playing {
    background-color: @color2;
    border-radius: 0px;
    color: @black;
}


/* center module  */
#window{
    padding: 0 5px;
}


/* module general styles */

#network {
  font-size: 20px;
  padding: 0px 0px 0px 8px;
}

#battery {
    padding: 0 10px ;
}

#clock:hover,
#battery:hover,
#network:hover,
#custom-swaync:hover,
#backlight:hover {
    color: @color1;
}
#custom-powerprofile{
  padding: 0 4px 0 8px;
}


/* Remaining Modules */
#battery.charging,
#battery.plugged {
  background-color: @color4;
  color: @black;
}
#battery.critical:not(.charging) {
  background-color: @urgent;
  color: @text;
  animation: blink 0.5s steps(12) infinite alternate;
}
@keyframes blink {
  to {
    background-color: @second-background;
    color: @text;
  }
}
#battery {
    background-color: @color4;
    color: @cursor;
}
