/* colors defined at top for easy configuring */
@define-color background #1a1b26;
@define-color second-background #3A372F;
@define-color text #c0caf5;
@define-color borders #7aa2f7;
@define-color focused #7aa2f7;
@define-color focused2 #5571ab;
@define-color color1 #7699A3;
@define-color color2 #8D7AAE;
@define-color color3 #78997A;
@define-color urgent #B05A5A;
@define-color black #000000;


/* font declared */
* {
    font-family: "Maple Mono";
    font-weight: bold;
}

#custom-openbracket,
#custom-closebracket{
    margin: 0 5px ;
    font-size: 15px;
}

/* idk what all this does */
window#waybar {
    border-bottom: 0;
    color: @text;
    background-color: transparent;
    transition: background-color 0.5s;
}
window#waybar.hidden {
    opacity: 0.2;
}
window#waybar.empty #window {
    background-color: transparent;
}


/* configuring the modules */
.modules-left {
    margin: 0 0 0 5px;
    padding: 0 0 0 7px;
    border: 0px solid @focused;
    background-color: @background;
    border-radius: 0px;
}
.modules-center {
    margin: 0 0 0 0;
    background-color: @background;
    padding: 0 10px 0 10px;
    border: 0px solid @focused;
    border-radius: 0px;
    font-size: 15px;
}
.modules-right {
    margin: 0 5px 0 0;
    background-color: @background;
    padding: 0 10px 0 10px;
    border: 0px solid @focused;
    border-radius: 0px;
}


/* whats this?? */
button {
  border: none;
}

/* menu pannel */
#custom-arch,
#custom-powerprofile {
    padding-right: 10px;
    padding-left: 5px;
    font-size: 20px;
    border-radius: 0px;
}
#custom-arch:hover {
    color: @color1;
}
#custom-powerprofile:hover{
    color: @color1
}

/* workspace pannel */
#workspaces button {
    padding: 0px 0px 0px 0px;
    background-color: transparent;
    color: @text;
    border-radius: 0;
    font-size: 20px;
}
#workspaces button:hover {
    color: @focused2;
    font-size: 20px;
    background-color: transparent;
}
#workspaces button.active {
    color: @focused2;
    background-color: @background;
    font-size: 20px;
}
#workspaces button.focused {
    color: @focused2;
    background-color: @background;
    font-size: 20px;
}
#workspaces button.urgent {
    background-color: @urgent;
    font-size: 20px;
}


/* no idea what this does */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* media player */
#mpris {
    margin: 0 0 0 5px;
    padding: 0 9px ;
    background-color: @background;
    color: @text;
}
#mpris.playing {
    background-color: @focused2;
    border-radius: 0px;
    color: @black;
}


/* center module  */
#window{
    padding: 0 5px;
}


/* module general styles */

#network {
  font-size: 20px;
  padding: 0px 0px 0px 8px;
}

#battery {
    padding: 0 10px ;
}

#clock:hover,
#battery:hover,
#custom-cpu:hover,
#custom-clipboard:hover,
#custom-bluetooth:hover,
#network:hover,
#idle_inhibitor:hover,
#custom-swaync:hover,
#backlight:hover,
#wireplumber:hover{
    color: @color1;
}
#idle_inhibitor{
  padding: 0 10px 0 0;
}
#custom-powerprofile{
  padding: 0 4px 0 8px;
}


/* Remaining Modules */
#backlight,
#wireplumber{
    padding: 0 5px;
}
#wireplumber.muted {
  background-color: @color2;
}
#custom-swaync {
    padding: 0 10px 0 5px;
    font-size: 16px;       /* same scale as other icons */
    color: @text;
}
#battery.charging,
#battery.plugged {
  background-color: @focused2 ;
  color: @black;
}
#battery.critical:not(.charging) {
  background-color: @urgent;
  color: @text;
  animation: blink 0.5s steps(12) infinite alternate;
}
@keyframes blink {
  to {
    background-color: @second-background;
    color: @text;
  }
}
#battery {
    background-color: @focused2;
    color: @black;
}
